body {
  /*Account for the height of the navbar component*/
  padding-top: 3.5rem;
}

/*Sets the size and style of the globe container*/

.globe {
  width: 100%;
  height: calc(100vh - 3.5rem);
  background-color: black;
}

/*Sets the position of a container displayed over the globe container*/

.globe-overlay {
  position: absolute;
  width: 100%;
  top: 3.5rem;
}

Sets the background color of Cards displayed over the globe .globe-card {
  background: rgba(255, 255, 255, 0.7);
}

/*When the modal fills the screen it has no margin on top and bottom*/

/*Centers the modal*/

.modal-dialog {
  margin: 0 auto;
}

/*Sets the maximum height of the entire modal to 100% of the screen height*/

.modal-content {
  max-height: 100vh;
}

/*Sets the maximum height of the modal body to 90% of the screen height*/

.modal-body {
  max-height: 90vh;
}

/*Sets the height of a modal's canvas to 30% or 200px*/

.modal-body-canvas {
  max-height: 200px;
  height: 30vh;
}

/*Sets the height of a modal's canvas to 60% minus the height of a footer*/

.modal-body-table {
  max-height: calc(60vh - 71px);
  overflow-y: auto;
}

/* Prevents an element, like a <div/> from consuming user input */

.noninteractive {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  pointer-events: none;
}

/* Allows an element to receive user input */

/* Useful if a parent element is using .noniteractive */

.interactive {
  -webkit-touch-callout: auto !important;
  -webkit-user-select: auto !important;
  -khtml-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  -o-user-select: auto !important;
  pointer-events: auto !important;
}


/* * Modal Styling */
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  
  border-radius: 5px;

  filter: drop-shadow(0 0 0.75rem #1D2951);

}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 0px;
  border: none;
  width: 33vw;
  height: 30vh;
  top: 0;
  right: 0;
  left: 33vw;  
  
}

.titleBar {
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: left;
  color: white;
  margin: auto;
  padding: 0px;
  width: 100%;
  padding-top: 10px;  
  background-color: #1D2951;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

h3.modalTitle {
  width: 100%;
  padding: 0px;
  margin: 0px;
  align-self: center;
}

.modal-metadata {
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* The Close Button */
.closeModal {
  color: white;
  float: right;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer !important;
  width: 41%;
  padding: 10px;
}

.closeModal:hover,
.closeModal:focus {
  color:rgb(196, 196, 196);
  text-decoration: none;
  cursor: pointer !important;
}

.p {
  padding-left: 5px;
  display: inline;
  font-weight: lighter;
}

.q {
  padding-left: 30px;
}
